#pro-mid-div{
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 30px;
    justify-content: space-between;
}
#pro-img{
    width: 45%;
}
#pro-img img{
    width: 100%;
}
#mid-info-pro{
    width: 45%;
}
#pro-prize{
    margin-top: -30px;
    display: flex;
    align-items: center;
}

#strike-prize-pro{
    text-decoration: line-through;
    color: grey;
    margin-right: 30px;
    font-weight: bold;
    font-size: 20px;
}

#main-prize-pro{
    color: rgb(188, 3, 3);
    font-size: 30px;
    font-weight: bolder;
}

#offer-line{
    color: rgb(177, 3, 3);
    font-weight: bold;
}
#regular-btn{
    padding: 10px 10px;
    font-size: 15px;
    border: 2px solid rgb(71,71,71);
    background-color: white;
    color: rgb(83, 83, 83);
}
#tall-btn{
    padding: 10px 20px;
    font-size: 15px;
    border: 2px solid rgb(71, 71, 71);
    background-color: white;
    color: rgb(84, 84, 84);
}
#tall-btn:hover,#regular-btn:hover{
    border: 2px solid rgb(40, 40, 40);
    color: rgb(30, 30, 30);
}
#colors-ava{
    color: grey;
}

#mid-info-pro img{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 2px solid rgb(78, 77, 77);
    padding: 2px;
}
#mid-info-pro img:hover{
    border: 2px solid rgb(30, 30, 30);
    cursor: pointer;
}
#sizes-div{
    margin-top: 20px;
}
#sizes-div button{
    width: 16%;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    background-color: white;
}
#sizes-div button:hover{
    cursor: pointer;
    background-color: grey;
}

#selecquan{
    margin-top: 30px;
    padding: 10px 15px;
    font-size: 15px;
    margin-right: 10px;
}
#addtobag{
    width: 250px;
    margin-top: 30px;
    padding: 10px;
    font-size: 15px;
    background-color: rgb(45, 45, 45);
    color: white;
    font-weight: bolder;
}
#addtobag:hover{
    background-color: white;
    color: black;
}
#totbuy{
    margin-top: -30px;
    color: grey;
}
#rate{
    margin-top: -30px;
    font-size: 17px;
}